{% extends 'base.html.twig' %}

{% block title %}
<div class="fst-italic">Hôtel {{ suite.hotel.name}}</div>
{% endblock %}

{% block body %}    
    <div class="container-fluid text-center">        
        <div class="row py-5">
            <div class="col"></div>  
            <div class="col col-lg-10 col-md-10 col-sm-11 col-12" >  
                <h3 class="py-3"> La Suite {{ suite.title }}  </h3>
                <h5>Prix pour une nuit : {{ suite.price }} €</h5> 
                <div>
					<a href= "{{ path('booking_new') }}" class="btn btn-success my-3" role="button">Reserver cette Suite</a>  
				</div>
                <div>
					<a href= "{{ suite.link }}" target="_blank" class="btn btn-sm btn-secondary my-3" role="button">Booking.com</a>                   
				</div>       
                <p class="py-5 text-start">{{  suite.description }}</p>
                <div class="card bg-transparent border-0 text-center">                    
                    <img src="{{ vich_uploader_asset(suite ,'imageFile') }}" class="card-img-top" width="1200" height="auto" alt="{{ suite.image }}">
                    <div class="card-body"></div>                          
                </div> 
                <div class="card bg-transparent border-0 text-center">
					<img src="/assets/images/suite/Suite.jpg" class="card-img-top" width="1200" height="auto" alt="Image Suite">
					<div class="card-body"></div>									
				</div>
                <div class="card bg-transparent border-0 text-center">
				    <img src="/assets/images/suite/SDB.jpg" class="card-img-top" width="1200" height="auto" alt="Image Suite">
					<div class="card-body"></div>									
				</div>               
                <div>
					<a href= "{{ path('booking_new') }}" class="btn btn-success my-3" role="button">Reserver cette Suite</a>                   
				</div>                
                 <div>
                    <a href= "{{ path('hotel_index') }}" class="btn btn-primary my-3" role="button">Retour</a>  
                </div>                
            </div>         
            <div class="col"></div>     
        </div> 
    </div>    
{% endblock %} 

