{% extends 'base.html.twig' %}

{% block title %}
<div class="fst-italic">L'Hôtel et ses Suites</div>
{% endblock %}

{% block body %}
	<div class="text-center">

		<div class="row py-2">
			<div class="col"></div>
				<div class="col col-lg-3 col-md-5 col-sm-7 col-8">
								<div class="card bg-transparent border-0 text-center">							
									<div class="card-body">	</div>
									<img src="/assets/images/hotel/{{ hotel.name }}.jpg" class="card-img-bottom" width="1200" height="auto" alt="Image Hotel">
								</div>
								
							</div>
				<div class="col"></div>			
		</div>

		<div class="row py-3">
			<div class="col"></div>
			<div class="col col-lg-11 col-md-11 col-sm-12 col-12">
				<h1 class="pt-5">{{ hotel.name }} de <span>{{ hotel.city }}</span></h1>
				<h5>{{ hotel.address }} {{ hotel.city }}</h5>
				<p class="text-start py-5">{{ hotel.description }}</p>
				<hr>

				{% for suite in hotel.suites %}
					<div class="card bg-transparent border-0 text-center pt-4">						
						<div class="card-body">
							<h3>La Suite {{ suite.title }}</h3>
							<h5>Prix pour une nuit : {{ suite.price }} €</h5>							
							<div class="pt-3 pb-2">
								<a href="{{ path('suite_show', {'id': suite.id}) }}" class="btn btn-info" role="button">Voir cette Suite</a>
							</div>							
						</div>
						<img src="{{ vich_uploader_asset(suite ,'imageFile') }}" class="card-img-bottom" width="1200" height="auto" alt="{{ suite.image }}">
					</div>
					<hr>
				{% endfor %}

			</div>
			<div class="col"></div>
		</div>
	</div>

{% endblock %}
