{% extends 'base.html.twig' %}

{% block title %} Envoyez nous un message{% endblock %}


{% block body %}
<div class="row">
  <div class="col"></div>  
    <div class="col col-lg-5 col-md-8 col-sm-10 col-12" >     
    
    {{ form_start(form) }}
          {{ form_row(form.lastName, {
            label: 'Nom'
        }) }}
        {{ form_row(form.firstName, {
            label: 'Prénom'
        }) }}
        {{ form_row(form.email, {
            label: 'Email'
        }) }}           
        {{ form_row(form.subject, {
            label: 'Sujet'
        }) }}
         {{ form_row(form.message, {
            label: 'Message'
        }) }}

        <button type="submit" class="btn btn-success mb-4">Envoyer</button>

    {{ form_end(form) }}

    </div>
  <div class="col"></div>       
</div>    
{% endblock %}



